In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

In [14]:
df = pd.read_csv('TRAIN.csv')
test = pd.read_csv('TEST.csv')

In [15]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]
x.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,Order
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62

In [16]:
x = x.drop(columns = ['ID', "Order"])

# Preprocessing

In [17]:
x = pd.get_dummies(x, columns = ['Location_Type', 'Store_Type', 'Region_Code'])
x

,Store_id,Date,Holiday,Discount,Location_Type_L1,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Store_Type_S1,Store_Type_S2,Store_Type_S3,Store_Type_S4,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4
0,1,2018-01-01,1,Yes,0,0,1,0,0,1,0,0,0,1,0,0,0
1,253,2018-01-01,1,Yes,0,1,0,0,0,0,0,0,1,1,0,0,0
2,252,2018-01-01,1,Yes,0,1,0,0,0,0,0,1,0,1,0,0,0
3,251,2018-01-01,1,Yes,0,0,1,0,0,0,1,0,0,1,0,0,0
4,250,2018-01-01,1,Yes,0,0,1,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188335,149,2019-05-31,1,Yes,0,0,1,0,0,0,1,0,0,0,1,0,0
188336,153,2019-05-31,1,No,0,1,0,0,0,0,0,0,1,1,0,0,0
188337,154,2019-05-31,1,No,0,0,1,0,0,1,0,0,0,0,1,0,0
188338,155,2019-05-31,1,Yes,1,0,0,0,0,0,0,1,0,0,1,0,0
188339,152,2019-05-31,1,No,1,0,0,0,0,0,1,0,0,1,0,0,0

In [18]:
le = LabelEncoder()
x['Discount'] = le.fit_transform(x['Discount'])

In [19]:
x['Date'] = pd.to_datetime(x['Date'], format = '%Y-%m-%d', errors = 'coerce')

In [20]:
x['Date'] = x['Date'].dt.dayofweek

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [21]:
x

,Store_id,Date,Holiday,Discount,Location_Type_L1,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Store_Type_S1,Store_Type_S2,Store_Type_S3,Store_Type_S4,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4
0,1,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,0
1,253,0,1,1,0,1,0,0,0,0,0,0,1,1,0,0,0
2,252,0,1,1,0,1,0,0,0,0,0,1,0,1,0,0,0
3,251,0,1,1,0,0,1,0,0,0,1,0,0,1,0,0,0
4,250,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188335,149,4,1,1,0,0,1,0,0,0,1,0,0,0,1,0,0
188336,153,4,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0
188337,154,4,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0
188338,155,4,1,1,1,0,0,0,0,0,0,1,0,0,1,0,0
188339,152,4,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0

In [34]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = x.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(128, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 128)               2304
_________________________________________________________________
dense_6 (Dense)              (None, 256)               33024
_________________________________________________________________
dense_7 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_8 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_9 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 129
=================================================================
Total params: 199,937
Trainable params: 199,937
Non-trainable params: 0
_________________________________________________________________

In [35]:
checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]

In [37]:
NN_model.fit(x, y, epochs=100, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

Epoch 1/100
4707/4709 [============================>.] - ETA: 0s - loss: 8102.6479 - mean_absolute_error: 8102.6479
Epoch 00001: val_loss improved from 9306.15625 to 9232.57617, saving model to Weights-001--9232.57617.hdf5
4709/4709 [==============================] - 14s 3ms/step - loss: 8102.5840 - mean_absolute_error: 8102.5840 - val_loss: 9232.5762 - val_mean_absolute_error: 9232.5762
Epoch 2/100
4703/4709 [============================>.] - ETA: 0s - loss: 8004.2720 - mean_absolute_error: 8004.2720
Epoch 00002: val_loss improved from 9232.57617 to 8963.78809, saving model to Weights-002--8963.78809.hdf5
4709/4709 [==============================] - 15s 3ms/step - loss: 8004.4556 - mean_absolute_error: 8004.4556 - val_loss: 8963.7881 - val_mean_absolute_error: 8963.7881
Epoch 3/100
4697/4709 [============================>.] - ETA: 0s - loss: 7959.3169 - mean_absolute_error: 7959.3169
Epoch 00003: val_loss did not improve from 8963.78809
4709/4709 [==============================] - 15s 3ms/step - loss: 7961.2080 - mean_absolute_error: 7961.2080 - val_loss: 9076.3916 - val_mean_absolute_error: 9076.3916
Epoch 4/100
4701/4709 [============================>.] - ETA: 0s - loss: 7943.7856 - mean_absolute_error: 7943.7856
Epoch 00004: val_loss did not improve from 8963.78809
4709/4709 [==============================] - 15s 3ms/step - loss: 7944.0933 - mean_absolute_error: 7944.0933 - val_loss: 9200.0342 - val_mean_absolute_error: 9200.0342
Epoch 5/100
4698/4709 [============================>.] - ETA: 0s - loss: 7908.4463 - mean_absolute_error: 7908.4463
Epoch 00005: val_loss did not improve from 8963.78809
4709/4709 [==============================] - 15s 3ms/step - loss: 7909.5977 - mean_absolute_error: 7909.5977 - val_loss: 9032.0508 - val_mean_absolute_error: 9032.0508
Epoch 6/100
4701/4709 [============================>.] - ETA: 0s - loss: 7865.5366 - mean_absolute_error: 7865.5366
Epoch 00006: val_loss improved from 8963.78809 to 8922.20508, saving model to Weights-006--8922.20508.hdf5
4709/4709 [==============================] - 15s 3ms/step - loss: 7865.8799 - mean_absolute_error: 7865.8799 - val_loss: 8922.2051 - val_mean_absolute_error: 8922.2051
Epoch 7/100
4695/4709 [============================>.] - ETA: 0s - loss: 7853.0098 - mean_absolute_error: 7853.0098
Epoch 00007: val_loss did not improve from 8922.20508
4709/4709 [==============================] - 15s 3ms/step - loss: 7854.7417 - mean_absolute_error: 7854.7417 - val_loss: 9658.5742 - val_mean_absolute_error: 9658.5742
Epoch 8/100
4701/4709 [============================>.] - ETA: 0s - loss: 7840.1768 - mean_absolute_error: 7840.1768
Epoch 00008: val_loss did not improve from 8922.20508
4709/4709 [==============================] - 16s 3ms/step - loss: 7839.0552 - mean_absolute_error: 7839.0552 - val_loss: 8956.2168 - val_mean_absolute_error: 8956.2168
Epoch 9/100
4700/4709 [============================>.] - ETA: 0s - loss: 7814.5786 - mean_absolute_error: 7814.5786
Epoch 00009: val_loss did not improve from 8922.20508
4709/4709 [==============================] - 16s 3ms/step - loss: 7813.0122 - mean_absolute_error: 7813.0122 - val_loss: 8933.7607 - val_mean_absolute_error: 8933.7607
Epoch 10/100
4708/4709 [============================>.] - ETA: 0s - loss: 7792.1333 - mean_absolute_error: 7792.1333
Epoch 00010: val_loss did not improve from 8922.20508
4709/4709 [==============================] - 17s 4ms/step - loss: 7792.1846 - mean_absolute_error: 7792.1846 - val_loss: 9285.6152 - val_mean_absolute_error: 9285.6152
Epoch 11/100
4707/4709 [============================>.] - ETA: 0s - loss: 7790.2539 - mean_absolute_error: 7790.2539
Epoch 00011: val_loss improved from 8922.20508 to 8915.42578, saving model to Weights-011--8915.42578.hdf5
4709/4709 [==============================] - 17s 4ms/step - loss: 7790.7349 - mean_absolute_error: 7790.7349 - val_loss: 8915.4258 - val_mean_absolute_error: 8915.4258
Epoch 12/100
4691/4709 [============================>.] - ETA: 0s - loss: 7766.3413 - mean_absolute_error: 7766.3413
Epoch 00012: val_loss did not improve from 8915.42578
4709/4709 [==============================] - 16s 3ms/step - loss: 7767.5122 - mean_absolute_error: 7767.5122 - val_loss: 9344.2871 - val_mean_absolute_error: 9344.2871
Epoch 13/100
4692/4709 [============================>.] - ETA: 0s - loss: 7753.6880 - mean_absolute_error: 7753.6880
Epoch 00013: val_loss did not improve from 8915.42578
4709/4709 [==============================] - 16s 3ms/step - loss: 7754.2114 - mean_absolute_error: 7754.2114 - val_loss: 9007.6260 - val_mean_absolute_error: 9007.6260
Epoch 14/100
4706/4709 [============================>.] - ETA: 0s - loss: 7746.3179 - mean_absolute_error: 7746.3179
Epoch 00014: val_loss improved from 8915.42578 to 8905.53711, saving model to Weights-014--8905.53711.hdf5
4709/4709 [==============================] - 15s 3ms/step - loss: 7745.9937 - mean_absolute_error: 7745.9937 - val_loss: 8905.5371 - val_mean_absolute_error: 8905.5371
Epoch 15/100
4701/4709 [============================>.] - ETA: 0s - loss: 7723.1484 - mean_absolute_error: 7723.1484
Epoch 00015: val_loss did not improve from 8905.53711
4709/4709 [==============================] - 16s 3ms/step - loss: 7723.8975 - mean_absolute_error: 7723.8975 - val_loss: 9067.5703 - val_mean_absolute_error: 9067.5703
Epoch 16/100
4701/4709 [============================>.] - ETA: 0s - loss: 7722.7134 - mean_absolute_error: 7722.7134
Epoch 00016: val_loss improved from 8905.53711 to 8880.05273, saving model to Weights-016--8880.05273.hdf5
4709/4709 [==============================] - 15s 3ms/step - loss: 7723.9751 - mean_absolute_error: 7723.9751 - val_loss: 8880.0527 - val_mean_absolute_error: 8880.0527
Epoch 17/100
4701/4709 [============================>.] - ETA: 0s - loss: 7710.5127 - mean_absolute_error: 7710.5127
Epoch 00017: val_loss did not improve from 8880.05273
4709/4709 [==============================] - 16s 3ms/step - loss: 7710.0859 - mean_absolute_error: 7710.0859 - val_loss: 8928.6807 - val_mean_absolute_error: 8928.6807
Epoch 18/100
4693/4709 [============================>.] - ETA: 0s - loss: 7705.9937 - mean_absolute_error: 7705.9937
Epoch 00018: val_loss did not improve from 8880.05273
4709/4709 [==============================] - 16s 3ms/step - loss: 7705.2046 - mean_absolute_error: 7705.2046 - val_loss: 9000.0674 - val_mean_absolute_error: 9000.0674
Epoch 19/100
4695/4709 [============================>.] - ETA: 0s - loss: 7697.3384 - mean_absolute_error: 7697.3384
Epoch 00019: val_loss did not improve from 8880.05273
4709/4709 [==============================] - 17s 4ms/step - loss: 7698.2285 - mean_absolute_error: 7698.2285 - val_loss: 8936.4102 - val_mean_absolute_error: 8936.4102
Epoch 20/100
4706/4709 [============================>.] - ETA: 0s - loss: 7684.2476 - mean_absolute_error: 7684.2476
Epoch 00020: val_loss did not improve from 8880.05273
4709/4709 [==============================] - 18s 4ms/step - loss: 7683.7754 - mean_absolute_error: 7683.7754 - val_loss: 8916.2354 - val_mean_absolute_error: 8916.2354
Epoch 21/100
4698/4709 [============================>.] - ETA: 0s - loss: 7667.0728 - mean_absolute_error: 7667.0728
Epoch 00021: val_loss improved from 8880.05273 to 8872.73242, saving model to Weights-021--8872.73242.hdf5
4709/4709 [==============================] - 18s 4ms/step - loss: 7665.6616 - mean_absolute_error: 7665.6616 - val_loss: 8872.7324 - val_mean_absolute_error: 8872.7324
Epoch 22/100
4708/4709 [============================>.] - ETA: 0s - loss: 7668.0273 - mean_absolute_error: 7668.0273
Epoch 00022: val_loss did not improve from 8872.73242
4709/4709 [==============================] - 18s 4ms/step - loss: 7667.9902 - mean_absolute_error: 7667.9902 - val_loss: 8918.6191 - val_mean_absolute_error: 8918.6191
Epoch 23/100
4695/4709 [============================>.] - ETA: 0s - loss: 7647.4438 - mean_absolute_error: 7647.4438
Epoch 00023: val_loss improved from 8872.73242 to 8865.97461, saving model to Weights-023--8865.97461.hdf5
4709/4709 [==============================] - 16s 3ms/step - loss: 7646.7598 - mean_absolute_error: 7646.7598 - val_loss: 8865.9746 - val_mean_absolute_error: 8865.9746

Epoch 24/100
4703/4709 [============================>.] - ETA: 0s - loss: 7635.8359 - mean_absolute_error: 7635.8359
Epoch 00024: val_loss did not improve from 8865.97461
4709/4709 [==============================] - 15s 3ms/step - loss: 7635.9326 - mean_absolute_error: 7635.9326 - val_loss: 8935.7715 - val_mean_absolute_error: 8935.7715
Epoch 25/100
4698/4709 [============================>.] - ETA: 0s - loss: 7631.9849 - mean_absolute_error: 7631.9849
Epoch 00025: val_loss did not improve from 8865.97461
4709/4709 [==============================] - 16s 3ms/step - loss: 7630.3120 - mean_absolute_error: 7630.3120 - val_loss: 8868.2354 - val_mean_absolute_error: 8868.2354
Epoch 26/100
4709/4709 [==============================] - ETA: 0s - loss: 7621.1006 - mean_absolute_error: 7621.1006
Epoch 00026: val_loss did not improve from 8865.97461
4709/4709 [==============================] - 16s 3ms/step - loss: 7621.1006 - mean_absolute_error: 7621.1006 - val_loss: 8930.7969 - val_mean_absolute_error: 8930.7969
Epoch 27/100
4699/4709 [============================>.] - ETA: 0s - loss: 7616.4590 - mean_absolute_error: 7616.4590
Epoch 00027: val_loss improved from 8865.97461 to 8846.44922, saving model to Weights-027--8846.44922.hdf5
4709/4709 [==============================] - 16s 3ms/step - loss: 7616.2329 - mean_absolute_error: 7616.2329 - val_loss: 8846.4492 - val_mean_absolute_error: 8846.4492
Epoch 28/100
4708/4709 [============================>.] - ETA: 0s - loss: 7603.9561 - mean_absolute_error: 7603.9561
Epoch 00028: val_loss improved from 8846.44922 to 8799.39844, saving model to Weights-028--8799.39844.hdf5
4709/4709 [==============================] - 14s 3ms/step - loss: 7603.7769 - mean_absolute_error: 7603.7769 - val_loss: 8799.3984 - val_mean_absolute_error: 8799.3984
Epoch 29/100
4702/4709 [============================>.] - ETA: 0s - loss: 7598.5327 - mean_absolute_error: 7598.5327
Epoch 00029: val_loss did not improve from 8799.39844
4709/4709 [==============================] - 15s 3ms/step - loss: 7598.8838 - mean_absolute_error: 7598.8838 - val_loss: 8823.0859 - val_mean_absolute_error: 8823.0859
Epoch 30/100
4696/4709 [============================>.] - ETA: 0s - loss: 7594.9985 - mean_absolute_error: 7594.9985
Epoch 00030: val_loss did not improve from 8799.39844
4709/4709 [==============================] - 16s 3ms/step - loss: 7598.7505 - mean_absolute_error: 7598.7505 - val_loss: 8911.8555 - val_mean_absolute_error: 8911.8555
Epoch 31/100
4707/4709 [============================>.] - ETA: 0s - loss: 7584.2251 - mean_absolute_error: 7584.2251
Epoch 00031: val_loss did not improve from 8799.39844
4709/4709 [==============================] - 16s 3ms/step - loss: 7583.9712 - mean_absolute_error: 7583.9712 - val_loss: 8845.3828 - val_mean_absolute_error: 8845.3828
Epoch 32/100
4709/4709 [==============================] - ETA: 0s - loss: 7562.7993 - mean_absolute_error: 7562.7993
Epoch 00032: val_loss did not improve from 8799.39844
4709/4709 [==============================] - 16s 3ms/step - loss: 7562.7993 - mean_absolute_error: 7562.7993 - val_loss: 8829.3389 - val_mean_absolute_error: 8829.3389
Epoch 33/100
4696/4709 [============================>.] - ETA: 0s - loss: 7564.8135 - mean_absolute_error: 7564.8135
Epoch 00033: val_loss did not improve from 8799.39844
4709/4709 [==============================] - 15s 3ms/step - loss: 7563.9453 - mean_absolute_error: 7563.9453 - val_loss: 8835.1533 - val_mean_absolute_error: 8835.1533
Epoch 34/100
4692/4709 [============================>.] - ETA: 0s - loss: 7553.9668 - mean_absolute_error: 7553.9668
Epoch 00034: val_loss did not improve from 8799.39844
4709/4709 [==============================] - 16s 3ms/step - loss: 7554.3594 - mean_absolute_error: 7554.3594 - val_loss: 8840.9756 - val_mean_absolute_error: 8840.9756
Epoch 35/100
4696/4709 [============================>.] - ETA: 0s - loss: 7546.0493 - mean_absolute_error: 7546.0493
Epoch 00035: val_loss improved from 8799.39844 to 8778.79980, saving model to Weights-035--8778.79980.hdf5
4709/4709 [==============================] - 17s 4ms/step - loss: 7546.1509 - mean_absolute_error: 7546.1509 - val_loss: 8778.7998 - val_mean_absolute_error: 8778.7998
Epoch 36/100
4705/4709 [============================>.] - ETA: 0s - loss: 7538.0444 - mean_absolute_error: 7538.0444
Epoch 00036: val_loss did not improve from 8778.79980
4709/4709 [==============================] - 15s 3ms/step - loss: 7538.3472 - mean_absolute_error: 7538.3472 - val_loss: 8894.7803 - val_mean_absolute_error: 8894.7803
Epoch 37/100
4704/4709 [============================>.] - ETA: 0s - loss: 7529.3530 - mean_absolute_error: 7529.3530
Epoch 00037: val_loss did not improve from 8778.79980
4709/4709 [==============================] - 15s 3ms/step - loss: 7529.6743 - mean_absolute_error: 7529.6743 - val_loss: 8801.3965 - val_mean_absolute_error: 8801.3965
Epoch 38/100
4693/4709 [============================>.] - ETA: 0s - loss: 7521.3022 - mean_absolute_error: 7521.3022
Epoch 00038: val_loss did not improve from 8778.79980
4709/4709 [==============================] - 15s 3ms/step - loss: 7521.9370 - mean_absolute_error: 7521.9370 - val_loss: 8790.0977 - val_mean_absolute_error: 8790.0977
Epoch 39/100
4695/4709 [============================>.] - ETA: 0s - loss: 7518.3423 - mean_absolute_error: 7518.3423
Epoch 00039: val_loss did not improve from 8778.79980
4709/4709 [==============================] - 15s 3ms/step - loss: 7519.3569 - mean_absolute_error: 7519.3569 - val_loss: 8781.1494 - val_mean_absolute_error: 8781.1494
Epoch 40/100
4705/4709 [============================>.] - ETA: 0s - loss: 7501.3120 - mean_absolute_error: 7501.3120
Epoch 00040: val_loss did not improve from 8778.79980
4709/4709 [==============================] - 15s 3ms/step - loss: 7501.0923 - mean_absolute_error: 7501.0923 - val_loss: 8794.6279 - val_mean_absolute_error: 8794.6279
Epoch 41/100
4706/4709 [============================>.] - ETA: 0s - loss: 7503.4883 - mean_absolute_error: 7503.4883
Epoch 00041: val_loss did not improve from 8778.79980
4709/4709 [==============================] - 15s 3ms/step - loss: 7504.2021 - mean_absolute_error: 7504.2021 - val_loss: 8908.9844 - val_mean_absolute_error: 8908.9844
Epoch 42/100
4706/4709 [============================>.] - ETA: 0s - loss: 7491.0454 - mean_absolute_error: 7491.0454
Epoch 00042: val_loss improved from 8778.79980 to 8751.38281, saving model to Weights-042--8751.38281.hdf5
4709/4709 [==============================] - 17s 4ms/step - loss: 7491.6216 - mean_absolute_error: 7491.6216 - val_loss: 8751.3828 - val_mean_absolute_error: 8751.3828
Epoch 43/100
4698/4709 [============================>.] - ETA: 0s - loss: 7493.3359 - mean_absolute_error: 7493.3359
Epoch 00043: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 15s 3ms/step - loss: 7493.7622 - mean_absolute_error: 7493.7622 - val_loss: 8771.1299 - val_mean_absolute_error: 8771.1299
Epoch 44/100
4702/4709 [============================>.] - ETA: 0s - loss: 7494.7715 - mean_absolute_error: 7494.7715
Epoch 00044: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 15s 3ms/step - loss: 7494.9204 - mean_absolute_error: 7494.9204 - val_loss: 8795.7041 - val_mean_absolute_error: 8795.7041
Epoch 45/100
4699/4709 [============================>.] - ETA: 0s - loss: 7482.0386 - mean_absolute_error: 7482.0386
Epoch 00045: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 15s 3ms/step - loss: 7483.4722 - mean_absolute_error: 7483.4722 - val_loss: 8782.3818 - val_mean_absolute_error: 8782.3818
Epoch 46/100
4707/4709 [============================>.] - ETA: 0s - loss: 7475.7661 - mean_absolute_error: 7475.7661
Epoch 00046: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 16s 3ms/step - loss: 7475.5928 - mean_absolute_error: 7475.5928 - val_loss: 9021.0186 - val_mean_absolute_error: 9021.0186
Epoch 47/100
4699/4709 [============================>.] - ETA: 0s - loss: 7466.7334 - mean_absolute_error: 7466.7334
Epoch 00047: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 15s 3ms/step - loss: 7467.1162 - mean_absolute_error: 7467.1162 - val_loss: 8776.9629 - val_mean_absolute_error: 8776.9629

Epoch 48/100
4701/4709 [============================>.] - ETA: 0s - loss: 7472.7583 - mean_absolute_error: 7472.7583
Epoch 00048: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 14s 3ms/step - loss: 7471.8945 - mean_absolute_error: 7471.8945 - val_loss: 8762.9570 - val_mean_absolute_error: 8762.9570
Epoch 49/100
4709/4709 [==============================] - ETA: 0s - loss: 7457.8696 - mean_absolute_error: 7457.8696
Epoch 00049: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 15s 3ms/step - loss: 7457.8696 - mean_absolute_error: 7457.8696 - val_loss: 8801.9756 - val_mean_absolute_error: 8801.9756
Epoch 50/100
4706/4709 [============================>.] - ETA: 0s - loss: 7454.7080 - mean_absolute_error: 7454.7080
Epoch 00050: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 14s 3ms/step - loss: 7455.1719 - mean_absolute_error: 7455.1719 - val_loss: 8869.8174 - val_mean_absolute_error: 8869.8174
Epoch 51/100
4705/4709 [============================>.] - ETA: 0s - loss: 7453.6519 - mean_absolute_error: 7453.6519
Epoch 00051: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7454.2314 - mean_absolute_error: 7454.2314 - val_loss: 8848.7168 - val_mean_absolute_error: 8848.7168
Epoch 52/100
4694/4709 [============================>.] - ETA: 0s - loss: 7453.2271 - mean_absolute_error: 7453.2271
Epoch 00052: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7454.6992 - mean_absolute_error: 7454.6992 - val_loss: 8909.6885 - val_mean_absolute_error: 8909.6885
Epoch 53/100
4695/4709 [============================>.] - ETA: 0s - loss: 7443.2588 - mean_absolute_error: 7443.2588
Epoch 00053: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7442.7729 - mean_absolute_error: 7442.7729 - val_loss: 8825.5352 - val_mean_absolute_error: 8825.5352
Epoch 54/100
4705/4709 [============================>.] - ETA: 0s - loss: 7437.5771 - mean_absolute_error: 7437.5771
Epoch 00054: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7437.6689 - mean_absolute_error: 7437.6689 - val_loss: 8860.9717 - val_mean_absolute_error: 8860.9717
Epoch 55/100
4695/4709 [============================>.] - ETA: 0s - loss: 7435.7173 - mean_absolute_error: 7435.7173
Epoch 00055: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7436.1118 - mean_absolute_error: 7436.1118 - val_loss: 8779.1973 - val_mean_absolute_error: 8779.1973
Epoch 56/100
4690/4709 [============================>.] - ETA: 0s - loss: 7432.3896 - mean_absolute_error: 7432.3896
Epoch 00056: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7435.8545 - mean_absolute_error: 7435.8545 - val_loss: 8758.1084 - val_mean_absolute_error: 8758.1084
Epoch 57/100
4690/4709 [============================>.] - ETA: 0s - loss: 7431.9004 - mean_absolute_error: 7431.9004
Epoch 00057: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7430.6919 - mean_absolute_error: 7430.6919 - val_loss: 8776.8613 - val_mean_absolute_error: 8776.8613
Epoch 58/100
4707/4709 [============================>.] - ETA: 0s - loss: 7423.6318 - mean_absolute_error: 7423.6318
Epoch 00058: val_loss did not improve from 8751.38281
4709/4709 [==============================] - 13s 3ms/step - loss: 7423.7095 - mean_absolute_error: 7423.7095 - val_loss: 8813.2842 - val_mean_absolute_error: 8813.2842
Epoch 59/100
4699/4709 [============================>.] - ETA: 0s - loss: 7422.8594 - mean_absolute_error: 7422.8594
Epoch 00059: val_loss improved from 8751.38281 to 8742.05078, saving model to Weights-059--8742.05078.hdf5
4709/4709 [==============================] - 15s 3ms/step - loss: 7422.1235 - mean_absolute_error: 7422.1235 - val_loss: 8742.0508 - val_mean_absolute_error: 8742.0508
Epoch 60/100
4696/4709 [============================>.] - ETA: 0s - loss: 7414.0996 - mean_absolute_error: 7414.0996
Epoch 00060: val_loss did not improve from 8742.05078
4709/4709 [==============================] - 14s 3ms/step - loss: 7414.1548 - mean_absolute_error: 7414.1548 - val_loss: 8764.3672 - val_mean_absolute_error: 8764.3672
Epoch 61/100
4691/4709 [============================>.] - ETA: 0s - loss: 7412.3779 - mean_absolute_error: 7412.3779
Epoch 00061: val_loss did not improve from 8742.05078
4709/4709 [==============================] - 13s 3ms/step - loss: 7411.8340 - mean_absolute_error: 7411.8340 - val_loss: 8826.3164 - val_mean_absolute_error: 8826.3164
Epoch 62/100
4691/4709 [============================>.] - ETA: 0s - loss: 7397.8237 - mean_absolute_error: 7397.8237
Epoch 00062: val_loss did not improve from 8742.05078
4709/4709 [==============================] - 13s 3ms/step - loss: 7396.6665 - mean_absolute_error: 7396.6665 - val_loss: 8812.6250 - val_mean_absolute_error: 8812.6250
Epoch 63/100
4707/4709 [============================>.] - ETA: 0s - loss: 7400.0610 - mean_absolute_error: 7400.0610
Epoch 00063: val_loss improved from 8742.05078 to 8734.73730, saving model to Weights-063--8734.73730.hdf5
4709/4709 [==============================] - 15s 3ms/step - loss: 7399.9331 - mean_absolute_error: 7399.9331 - val_loss: 8734.7373 - val_mean_absolute_error: 8734.7373
Epoch 64/100
4709/4709 [==============================] - ETA: 0s - loss: 7390.8403 - mean_absolute_error: 7390.8403
Epoch 00064: val_loss did not improve from 8734.73730
4709/4709 [==============================] - 14s 3ms/step - loss: 7390.8403 - mean_absolute_error: 7390.8403 - val_loss: 8817.7012 - val_mean_absolute_error: 8817.7012
Epoch 65/100
4708/4709 [============================>.] - ETA: 0s - loss: 7396.2822 - mean_absolute_error: 7396.2822
Epoch 00065: val_loss did not improve from 8734.73730
4709/4709 [==============================] - 13s 3ms/step - loss: 7396.1914 - mean_absolute_error: 7396.1914 - val_loss: 8806.5908 - val_mean_absolute_error: 8806.5908
Epoch 66/100
4704/4709 [============================>.] - ETA: 0s - loss: 7388.8828 - mean_absolute_error: 7388.8828
Epoch 00066: val_loss improved from 8734.73730 to 8706.64453, saving model to Weights-066--8706.64453.hdf5
4709/4709 [==============================] - 15s 3ms/step - loss: 7387.9365 - mean_absolute_error: 7387.9365 - val_loss: 8706.6445 - val_mean_absolute_error: 8706.6445
Epoch 67/100
4695/4709 [============================>.] - ETA: 0s - loss: 7380.3774 - mean_absolute_error: 7380.3774
Epoch 00067: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7379.3413 - mean_absolute_error: 7379.3413 - val_loss: 8956.5303 - val_mean_absolute_error: 8956.5303
Epoch 68/100
4693/4709 [============================>.] - ETA: 0s - loss: 7383.7007 - mean_absolute_error: 7383.7007
Epoch 00068: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7384.9243 - mean_absolute_error: 7384.9243 - val_loss: 8817.1445 - val_mean_absolute_error: 8817.1445
Epoch 69/100
4697/4709 [============================>.] - ETA: 0s - loss: 7374.9902 - mean_absolute_error: 7374.9902
Epoch 00069: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7373.3633 - mean_absolute_error: 7373.3633 - val_loss: 8902.5078 - val_mean_absolute_error: 8902.5078
Epoch 70/100
4698/4709 [============================>.] - ETA: 0s - loss: 7365.9370 - mean_absolute_error: 7365.9370
Epoch 00070: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7365.9756 - mean_absolute_error: 7365.9756 - val_loss: 8834.3955 - val_mean_absolute_error: 8834.3955
Epoch 71/100
4691/4709 [============================>.] - ETA: 0s - loss: 7367.4004 - mean_absolute_error: 7367.4004
Epoch 00071: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7366.8745 - mean_absolute_error: 7366.8745 - val_loss: 8875.8809 - val_mean_absolute_error: 8875.8809

Epoch 72/100
4705/4709 [============================>.] - ETA: 0s - loss: 7355.5708 - mean_absolute_error: 7355.5708
Epoch 00072: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7355.8442 - mean_absolute_error: 7355.8442 - val_loss: 8843.6826 - val_mean_absolute_error: 8843.6826
Epoch 73/100
4692/4709 [============================>.] - ETA: 0s - loss: 7353.5884 - mean_absolute_error: 7353.5884
Epoch 00073: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7353.2261 - mean_absolute_error: 7353.2261 - val_loss: 8906.0068 - val_mean_absolute_error: 8906.0068
Epoch 74/100
4706/4709 [============================>.] - ETA: 0s - loss: 7353.5444 - mean_absolute_error: 7353.5444
Epoch 00074: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7353.2827 - mean_absolute_error: 7353.2827 - val_loss: 8850.3408 - val_mean_absolute_error: 8850.3408
Epoch 75/100
4709/4709 [==============================] - ETA: 0s - loss: 7351.2651 - mean_absolute_error: 7351.2651
Epoch 00075: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7351.2651 - mean_absolute_error: 7351.2651 - val_loss: 8790.9648 - val_mean_absolute_error: 8790.9648
Epoch 76/100
4694/4709 [============================>.] - ETA: 0s - loss: 7345.6191 - mean_absolute_error: 7345.6191
Epoch 00076: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7345.8647 - mean_absolute_error: 7345.8647 - val_loss: 8792.2949 - val_mean_absolute_error: 8792.2949
Epoch 77/100
4698/4709 [============================>.] - ETA: 0s - loss: 7346.0483 - mean_absolute_error: 7346.0483
Epoch 00077: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7346.6021 - mean_absolute_error: 7346.6021 - val_loss: 8735.4443 - val_mean_absolute_error: 8735.4443
Epoch 78/100
4709/4709 [==============================] - ETA: 0s - loss: 7336.9131 - mean_absolute_error: 7336.9131
Epoch 00078: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7336.9131 - mean_absolute_error: 7336.9131 - val_loss: 8825.4141 - val_mean_absolute_error: 8825.4141
Epoch 79/100
4696/4709 [============================>.] - ETA: 0s - loss: 7341.3535 - mean_absolute_error: 7341.3535
Epoch 00079: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7341.8735 - mean_absolute_error: 7341.8735 - val_loss: 9034.1445 - val_mean_absolute_error: 9034.1445
Epoch 80/100
4691/4709 [============================>.] - ETA: 0s - loss: 7338.2236 - mean_absolute_error: 7338.2236
Epoch 00080: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7338.2427 - mean_absolute_error: 7338.2427 - val_loss: 8883.4541 - val_mean_absolute_error: 8883.4541
Epoch 81/100
4707/4709 [============================>.] - ETA: 0s - loss: 7335.0396 - mean_absolute_error: 7335.0396
Epoch 00081: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7334.2153 - mean_absolute_error: 7334.2153 - val_loss: 8793.1494 - val_mean_absolute_error: 8793.1494
Epoch 82/100
4699/4709 [============================>.] - ETA: 0s - loss: 7329.8472 - mean_absolute_error: 7329.8472
Epoch 00082: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 14s 3ms/step - loss: 7330.0601 - mean_absolute_error: 7330.0601 - val_loss: 8790.6885 - val_mean_absolute_error: 8790.6885
Epoch 83/100
4694/4709 [============================>.] - ETA: 0s - loss: 7329.5195 - mean_absolute_error: 7329.5195
Epoch 00083: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7331.3223 - mean_absolute_error: 7331.3223 - val_loss: 8820.1504 - val_mean_absolute_error: 8820.1504
Epoch 84/100
4696/4709 [============================>.] - ETA: 0s - loss: 7331.1924 - mean_absolute_error: 7331.1924
Epoch 00084: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7330.6855 - mean_absolute_error: 7330.6855 - val_loss: 8873.8135 - val_mean_absolute_error: 8873.8135
Epoch 85/100
4706/4709 [============================>.] - ETA: 0s - loss: 7319.9150 - mean_absolute_error: 7319.9150
Epoch 00085: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7320.3481 - mean_absolute_error: 7320.3481 - val_loss: 8798.7354 - val_mean_absolute_error: 8798.7354
Epoch 86/100
4708/4709 [============================>.] - ETA: 0s - loss: 7324.1587 - mean_absolute_error: 7324.1587
Epoch 00086: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7323.9731 - mean_absolute_error: 7323.9731 - val_loss: 8843.8984 - val_mean_absolute_error: 8843.8984
Epoch 87/100
4694/4709 [============================>.] - ETA: 0s - loss: 7316.9067 - mean_absolute_error: 7316.9067
Epoch 00087: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7317.7368 - mean_absolute_error: 7317.7368 - val_loss: 8753.9248 - val_mean_absolute_error: 8753.9248
Epoch 88/100
4708/4709 [============================>.] - ETA: 0s - loss: 7320.0596 - mean_absolute_error: 7320.0596
Epoch 00088: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7320.3618 - mean_absolute_error: 7320.3618 - val_loss: 8736.5479 - val_mean_absolute_error: 8736.5479
Epoch 89/100
4688/4709 [============================>.] - ETA: 0s - loss: 7307.7568 - mean_absolute_error: 7307.7568
Epoch 00089: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7307.9233 - mean_absolute_error: 7307.9233 - val_loss: 8813.2197 - val_mean_absolute_error: 8813.2197
Epoch 90/100
4704/4709 [============================>.] - ETA: 0s - loss: 7316.4058 - mean_absolute_error: 7316.4058
Epoch 00090: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 13s 3ms/step - loss: 7315.8032 - mean_absolute_error: 7315.8032 - val_loss: 8783.0820 - val_mean_absolute_error: 8783.0820
Epoch 91/100
4709/4709 [==============================] - ETA: 0s - loss: 7307.3354 - mean_absolute_error: 7307.3354
Epoch 00091: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 17s 4ms/step - loss: 7307.3354 - mean_absolute_error: 7307.3354 - val_loss: 8763.5039 - val_mean_absolute_error: 8763.5039
Epoch 92/100
4697/4709 [============================>.] - ETA: 0s - loss: 7309.7134 - mean_absolute_error: 7309.7134
Epoch 00092: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 16s 3ms/step - loss: 7308.1025 - mean_absolute_error: 7308.1025 - val_loss: 8826.8545 - val_mean_absolute_error: 8826.8545
Epoch 93/100
4699/4709 [============================>.] - ETA: 0s - loss: 7307.4092 - mean_absolute_error: 7307.4092
Epoch 00093: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 14s 3ms/step - loss: 7307.1787 - mean_absolute_error: 7307.1787 - val_loss: 9016.2861 - val_mean_absolute_error: 9016.2861
Epoch 94/100
4701/4709 [============================>.] - ETA: 0s - loss: 7305.6914 - mean_absolute_error: 7305.6914
Epoch 00094: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 19s 4ms/step - loss: 7305.5698 - mean_absolute_error: 7305.5698 - val_loss: 8789.0156 - val_mean_absolute_error: 8789.0156
Epoch 95/100
4691/4709 [============================>.] - ETA: 0s - loss: 7299.2788 - mean_absolute_error: 7299.2788- ETA: 0s - loss: 7299.5977 - mean_absolute_error: 7299.597
Epoch 00095: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 19s 4ms/step - loss: 7299.4790 - mean_absolute_error: 7299.4790 - val_loss: 8842.1689 - val_mean_absolute_error: 8842.1689

Epoch 96/100
4700/4709 [============================>.] - ETA: 0s - loss: 7301.2222 - mean_absolute_error: 7301.2222
Epoch 00096: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 16s 3ms/step - loss: 7301.6060 - mean_absolute_error: 7301.6060 - val_loss: 8852.4141 - val_mean_absolute_error: 8852.4141
Epoch 97/100
4704/4709 [============================>.] - ETA: 0s - loss: 7298.2432 - mean_absolute_error: 7298.2432- ETA: 1s - loss: 7296.0376 - mean_ab
Epoch 00097: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 17s 4ms/step - loss: 7297.8740 - mean_absolute_error: 7297.8740 - val_loss: 8816.6182 - val_mean_absolute_error: 8816.6182
Epoch 98/100
4704/4709 [============================>.] - ETA: 0s - loss: 7298.0410 - mean_absolute_error: 7298.0410
Epoch 00098: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 16s 3ms/step - loss: 7297.7339 - mean_absolute_error: 7297.7339 - val_loss: 8807.8594 - val_mean_absolute_error: 8807.8594
Epoch 99/100
4708/4709 [============================>.] - ETA: 0s - loss: 7296.6855 - mean_absolute_error: 7296.6855
Epoch 00099: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 16s 3ms/step - loss: 7296.8716 - mean_absolute_error: 7296.8716 - val_loss: 8806.6152 - val_mean_absolute_error: 8806.6152
Epoch 100/100
4707/4709 [============================>.] - ETA: 0s - loss: 7289.8481 - mean_absolute_error: 7289.8481
Epoch 00100: val_loss did not improve from 8706.64453
4709/4709 [==============================] - 16s 3ms/step - loss: 7289.8052 - mean_absolute_error: 7289.8052 - val_loss: 8776.5527 - val_mean_absolute_error: 8776.5527

In [26]:
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [27]:
original_test = test

In [28]:
test = test.drop(columns = ['ID'])
test = pd.get_dummies(test, columns = ['Location_Type', 'Store_Type', 'Region_Code'])
test

,Store_id,Date,Holiday,Discount,Location_Type_L1,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Store_Type_S1,Store_Type_S2,Store_Type_S3,Store_Type_S4,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4
0,171,2019-06-01,0,No,0,1,0,0,0,0,0,0,1,0,0,1,0
1,172,2019-06-01,0,No,1,0,0,0,0,1,0,0,0,1,0,0,0
2,173,2019-06-01,0,No,0,1,0,0,0,0,0,0,1,1,0,0,0
3,174,2019-06-01,0,No,1,0,0,0,0,1,0,0,0,0,0,0,1
4,170,2019-06-01,0,No,1,0,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22260,186,2019-07-31,0,No,0,0,0,0,1,0,1,0,0,0,1,0,0
22261,11,2019-07-31,0,No,0,1,0,0,0,0,0,0,1,1,0,0,0
22262,185,2019-07-31,0,Yes,1,0,0,0,0,1,0,0,0,0,0,1,0
22263,69,2019-07-31,0,No,1,0,0,0,0,1,0,0,0,0,0,0,1
22264,365,2019-07-31,0,No,1,0,0,0,0,0,1,0,0,0,1,0,0

In [29]:
test['Discount'] = le.fit_transform(test['Discount'])
test

,Store_id,Date,Holiday,Discount,Location_Type_L1,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Store_Type_S1,Store_Type_S2,Store_Type_S3,Store_Type_S4,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4
0,171,2019-06-01,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
1,172,2019-06-01,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0
2,173,2019-06-01,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0
3,174,2019-06-01,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1
4,170,2019-06-01,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22260,186,2019-07-31,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
22261,11,2019-07-31,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0
22262,185,2019-07-31,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0
22263,69,2019-07-31,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1
22264,365,2019-07-31,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0

In [30]:
test['Date'] = pd.to_datetime(test['Date'], format = '%Y-%m-%d', errors = 'coerce')
test['Date'] = test['Date'].dt.dayofweek
test

,Store_id,Date,Holiday,Discount,Location_Type_L1,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Store_Type_S1,Store_Type_S2,Store_Type_S3,Store_Type_S4,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4
0,171,5,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
1,172,5,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0
2,173,5,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0
3,174,5,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1
4,170,5,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22260,186,2,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
22261,11,2,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0
22262,185,2,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0
22263,69,2,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1
22264,365,2,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0

In [31]:
pred = NN_model.predict(test)

In [32]:
pred

array([[58928.465],
       [37938.18 ],
       [86480.21 ],
       ...,
       [45462.   ],
       [31912.982],
       [25879.916]], dtype=float32)

In [33]:
submit = pd.DataFrame()
submit['ID'] = original_test['ID']
submit['Sales'] = pred
submit.to_csv('Submission8.csv', index = False)
print("file saved")

file saved