In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('prediction-ds_20210919100559-2021-09-19T17_57_34.891403Z_tables_1.csv')

In [24]:
df.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,predicted_Sales
0,T1188624,293,S2,L4,R2,2019-06-01,0,No,23934.378906
1,T1191877,365,S2,L1,R2,2019-06-10,0,No,26876.574219
2,T1190907,115,S4,L2,R1,2019-06-08,0,Yes,86788.710938
3,T1201887,216,S2,L5,R1,2019-07-08,0,No,19748.896484
4,T1201833,278,S4,L1,R4,2019-07-07,0,No,77921.609375

In [25]:
df = df.drop(columns = ['Store_id', 'Store_Type', "Location_Type", 'Region_Code', "Date", 'Holiday', 'Discount'])
df.head()

         ID  predicted_Sales
0  T1188624     23934.378906
1  T1191877     26876.574219
2  T1190907     86788.710938
3  T1201887     19748.896484
4  T1201833     77921.609375

In [26]:
df['Sales'] = df['predicted_Sales']
df = df.drop(columns = ['predicted_Sales'])

In [27]:
df["Sales"]

0        23934.378906
1        26876.574219
2        86788.710938
3        19748.896484
4        77921.609375
             ...
22260    40517.222656
22261    38876.867188
22262    56065.343750
22263    22359.082031
22264    46770.308594
Name: Sales, Length: 22265, dtype: float64

In [28]:
df.to_csv('gcp5.csv', index = False)
print('file saved')

file saved